.editor-styles-wrapper {
	background: #f7f7f7;
	font-family: 'freight-sans-pro', sans-serif;
	
	h2, h3 {
		font-family: 'freight-sans-pro', sans-serif !important;
	}
}
html :where(.wp-block) {
  max-width: calc(100% - 24px) !important;
  outline: 2px dashed rgba(#0077e5,0.2);
  outline-offset: 5px;
  
  &:focus, &:hover {
  	outline: 2px dashed rgba(#0077e5,1);
  	transition: outline-color 0.25s;
  }
  &:hover {
  	cursor: cell;
  }
}
.block-list-appender {
	outline: none !important;
}
.block-editor-block-popover__inbetween{
	overflow: hidden;
}
.band {
	float: none !important;
	
	h2 {
		font-family: 'freight-sans-pro', sans-serif !important;
		color: #333 !important;
	}
	
	&.title-red h2 {
		color: #b31b1b !important;
	}
}

.tab-label {
	cursor: cell !important;
	//background: #f7f7f7 !important;
	
	&:hover + .tab-content {
		opacity: 1;
	}
}

a.link-button {
	background: #b31b1b !important;
}

.cta-buttons li {
	margin-bottom: 3em !important;
}

.band.callout .prompt p a {
	color: #fff !important;
}

.wp-block-sopp-accent-lines {
	min-height: 200px;
}
accent-lines {
	pointer-events: auto;
	
	&:before {
		top: 100px !important;
	}
	&:after, &[classname*='accent-right']:after{
		height: 100px !important;
		top: 50px !important;
		right: 60px !important;
	}
	&[classname*='accent-left']:after {
		left: 60px !important;
		right: auto !important;
	}
	&[classname*='accent-top']:after {
		top: 25px !important;
	}
	&[classname*='accent-bottom']:after {
		top: 75px !important;
	}
}
.is-root-container > .wp-block {
	margin-bottom: 60px;
}

.quote blockquote {
  padding: 70px 55px 40px 180px !important;
}
.stats-supplementary-content {
	padding: 65px 100px !important;
}
.cards.flex-grid {
	flex-wrap: nowrap !important;
}
.stats {
	display: flex !important;
}

.acf-input .description + * + .description, 
.acf-input .description + * + * + .description, 
.acf-input .description + * + * + * + .description, 
.acf-input .description + * + * + * + .description, 
.acf-input .description + * + * + * + * + .description {
	display: none;
}

.expander {
	padding: 8px;
	
	* {
		margin-top: 0;
	}
	div {
		margin-bottom: 20px !important;
		overflow: hidden;
		border-left: 2px solid #e4bcc1 !important;
		padding-left: 20px;
	
		div {
			border-left: 2px solid #b0db9e !important;
			
			div {
				border-left: 2px solid #c6b9f8 !important;
			}
		}
	}
	.block-accordion-header {
		margin-top: 15px;
		font-size: 18px !important;
		font-weight: 700 !important;
		margin-bottom: 0 !important;
		color: #b31b1b;
		border-left: 4px solid #b31b1b;
		padding-left: 16px;
	
		& + div {
			padding-top: 5px;
			
			.block-accordion-header {
				color: #446935;
				border-left: 4px solid #446935;
			
				& + div .block-accordion-header {
					color: #5d4d9c;
					border-left: 4px solid #5d4d9c;
				}
			}
		}
	}
}

div[data-name='clickable_title'], div[data-name='hidden_content'] {
	border-left: 4px solid #b31b1b;
}
div[data-name='add_a_nested_accordion'], div[data-name='nested_accordion'] {
	
	& div[data-name='clickable_title'], & div[data-name='hidden_content'] {
		border-left: 4px solid #446935;
	}
}
div[data-name='add_a_nested_accordion_again'], div[data-name='nested_accordion_again'] {
	
	& div[data-name='clickable_title'], & div[data-name='hidden_content'] {
		border-left: 4px solid #5d4d9c;
	}
}

.intro-container a.link-button {
	color: #fff;
}
.stats.cwd-motion-custom .item .text {
	opacity: 1 !important;
	transform: none !important;
	filter: none !important;
}
